body {
  font-family: "Playfair Display", serif;
  color: #696969;
}

h1 {
  color: #FAFAFA;
  font-weight: 600 !important;
}

p {
  font-size: 18px;
}

.grid-element {
  display: flex;  
  padding: 48px;
  justify-content:center;
  flex-direction: column;
  font-size: 28px
}
